.about{
    justify-content: space-between;  
    &__headshot{
        width: 20%;
        object-fit: contain;
        object-position: top;
        padding-top: 0.5%;
    }
    &__bio{
        width: 75%;
    }
}