.about{
    justify-content: space-between;  
    &__headshot{
        width: 20%;
        object-fit: contain;
        object-position: top;
        padding-top: 0.5%;
        padding-left: 2%;
    }
    &__bio{
        width: 75%;
    }
    p{
        font-size: 1.8rem;
        margin-top: 0px;
    }
}