// contact{
//     label,
//     input[type="text"],
//     input[type="textarea"]{
//         width: 100%;
//     }
//     input[type="submit"]{
//         width: 30%;
//         margin-top: 5%;
//         color: red;
//     }
// }

form{
    label{
        margin-top: 2%;
    }
    input[type="text"],
    textarea{
        border: none;
        line-height: 2.5rem;
        padding: 1.5%;
    }
    input[type="submit"]{
        margin-top: 5%;
    }
    label{
        font-size: 2rem;
    }
    input::placeholder,
    textarea::placeholder{
        padding-left: 1.5%;
    }
    :placeholder-shown{
        padding-left: 1.5%;
    }
    input[type="text"],
    textarea{
        width: 100%;
        margin-top: 10px;
        &:hover{
            background: $yellow;
        }
    }
    .email-me{
        a{
            color: $teal;
        }
    }
}