header{
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.15), 
      rgba(255, 255, 255, 0.35)
    ),
    url("/Assets/yu-kato-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
label[for="toggle"] {
    position: fixed;
    top: 25px;
    left: 25px;
    color: $black;
    z-index: 6;
    font-size: 3rem;
}
.nav-responsive{
    display: none;
}
#toggle{
    display: none;
}
svg.hamburger{
    display: none;
}
.heroNavBar__mainNav{
	float: none;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
		li{
			width: 100%;
			a{
				width: 100%;
				display: inline-block;
				padding: 17px;
				color: #cddbe9;
			}
		}
}
.heroNavBar{
    overflow: hidden;
    width: 100%;
    // justify-content: space-between;
    &__mainNav,
    #socialBtns{
		li{
			a{
			text-align: center;
			}
		}
	}
}	
.heroNavBar__mainNav,
.heroNavBar__socialList{
	width: 100%;
}
#socialBtns{
	li{
		a:hover{
			background: none;
			color: $dark-grey;
		}
	}
}
.heroNavBar__mainNav{
	li:hover{
		background: $dark-grey;
		a:hover{
			background: $dark-grey;
		}
	}
}
.heroContent{
    // justify-content: space-between;
    height: 100vh;
    &__headerText__name{
        font-weight: 600;
    }
    &__headerText__title{
    color: $black;
    font-size: 2rem;
    text-transform: uppercase;
    }
    &__headerText__portfolioBtn{
        background: $primary-bkg;
        padding: 2% 4%;
        display: block;
        width: 40%;
        margin: 0 auto 44% auto;
        text-align: center;
    }
}
.heroNavBar{
    justify-content: space-between;
    background:linear-gradient(rgba(255, 255, 255, 0.15),rgba(255, 255, 255, 0.35));
    &__mainNav{
        li{
            a{
                display: inline-block;
                padding: 17px;
                color: $black;
            }
        }
    }
    
    &__mainNav{
        padding-left: 0;
        li{
            list-style: none;
            display: inline-block;
        }
    }
    &__socialList{
        li{
            a{
                color: $black;
                opacity: 0.85;
            }
        }
    }
}