header{
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.15), 
      rgba(255, 255, 255, 0.35)
    ),
    url("/Assets/yu-kato-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.heroContent{
    justify-content: space-between;
    height: 100vh;
    &__headerText__title{
    color:$black;
    font-size: 2rem;
    text-transform: uppercase;
    }
    &__headerText__portfolioBtn{
        background: $primary-bkg;
        padding: 2% 4%;
        display: block;
        width: 40%;
        margin: 0 auto 44% auto;
        text-align: center;
    }
}
.heroNavBar{
    width: 100%;
    justify-content: space-between;
    &__mainNav{
        li{
            // padding: 2%;
            border-radius: 5%;
            background: #363939;
            a{
                display: inline-block;
                padding: 17px;
                color: #cddbe9;
            }
        }
    }
    
    &__mainNav,
    #socialBtns{
        padding-left: 0;
        margin-top: 5%;
        li{
            list-style: none;
            display: inline-block;
            color:  #363939;;
            // padding-left: 0;
        }
    }
    .heroNavBar__socialList{
        li{
            a{
                color:  #363939;
            }
        }
    }
}
 
// #buttonFix{

// }
// .heroContent__mainNav__List{
//     padding: 0;
//     text-align: center;
//     li{
//         list-style: none;
//         display: inline-block;
//         padding: 2%;
//         // width: 25%;
//         a{
//             color: $black;
//             font-size: 2rem;
//         }
//     }
// }