figure{
	flex-basis: 60px;
	margin: 3% 4%;
}
.skills__icons{
	justify-content: space-around;
}
.nounIcon, figure.img{
	max-width: 70px;
	opacity: 0.95;
}
i {
    font-size: 6rem;
    display: block;
    padding: 4%;
}
figure, figcaption{
    text-align: center;
	// color: #575c5d;
	opacity: 0.8;
}
#responsiveIcon{
    padding-top: 2%;
}