html {
    font-size: 62.5%;
}
body, a {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color:$black;
}
h2, h3, p, ul {
    margin: 0;
}
h1, h2, h3 {
    font-family: "Poppins", sans-serif;
    width: 100%;
    text-align: center;
}
h1 {
    font-size: 6.5rem;
    letter-spacing: 0.3rem;
    line-height: 7rem;
    font-weight: 300;
    margin: 0;
    padding-top: 10%;
}
h2 {
    font-size: 4rem;
    padding: 7% 0;
    letter-spacing: 0.15rem;
    line-height: 2.6rem;
    color: $teal;
}
h3 {
    font-size: 3rem;
    line-height: 4.2rem;
    margin: -2% 0 1.5% 0;
}
h4{
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 0;
}
a {
    text-decoration: none;
    color:$black;
    text-transform: uppercase;
}
p{
    line-height: 2.2rem;
    margin-bottom: 5%;
    margin-top: 2%;
}