@import 'setup';
@import 'utils';
@import 'typography';
@import 'header';
@import 'about';
@import 'contact';
@import 'skills';
@import 'portfolio';





/*================================
GLOBAL STYLES
================================*/

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
.contentWrapper{
	max-width: 900px;
	margin: 0 auto;
}
.flex-container{
	display: flex;
}
.row{
	flex-flow: row wrap;
}
.column{
	flex-flow: column wrap;
}
.primary-bkg{
	background: $primary-bkg;
}
.secondary-bkg{
	background: $secondary-bkg;
}
.about, 
.skills,
.portfolio,
.contact{
	padding: 5% 2% 8% 2%;
}
.about{
	max-height: 590px;
	}
#socialBtns{
	display: none;
}
button,
input[type="submit"]{
	font-family: "Raleway";
	background: silver;
    border: 0;
	padding: 2% 4%;
	margin: 0 auto;
	border: 1px solid transparent;
	margin-bottom: 5%;
}
button,
input[type="submit"]{
	width: 100%;
	font-size: 2rem;
}
a:hover, 
a:active,
button:hover,
button:active,
.portfolio-link:hover,
.portfolio-link:active,
input[type="submit"]:hover,
input[type="submit"]:active {
   background: $yellow;
}
footer{
	background: $black;
	p {
		text-align: center;
		color:#fefefe;
		margin: 0;
		padding: 10px 0 30px;
	}
}
.portfolio-link{
	font-size: 1.5rem;
	background: silver;
	padding: 2% 4%;
	a:hover, a:active{
		background: $yellow;
	}
}
.contact__blurb{
	margin: 10px 0;
}
.email-me a, label a {
	font-size: 1.5rem;
	text-transform: none;
}
.input[type="text"]{
	line-height: 2.5rem;
}
.portfolio-links-wrapper{
	margin-left: 10px;
}
.portfolio-link{
	width: 46%;
	text-align: center;
	margin: 0 1%;
}
// svg.hamburger{
// 	display: block;
// }
.hamburger{
	font-size: 3.5rem;
	padding: 2%;
}
.hamburgerBkg{
	background: #fefefe;
}
.menu{
	display: none;
	background: rgba(255, 255, 255, 0.97);
	width: 100vw;
	height: 30vh;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 6;
	// bottom: 0;
	padding: 0;
	// transition: top 0.75s;
}
.menu ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	li{
		padding-bottom: 2%;
		a{
		font-weight: 600;
		font-size: 2rem;
		font-family: "Poppins", sans-serif;
		}
	}
}
.menu__link{
	margin: 0;
	padding: 20px 40px;
}
.menu__link a:hover{
	background: #FEFEFE;
	color: $teal;
}
// .show{
// 	top: 0vh;
// }
// .menuCloseBtn{
// 	position: absolute;
// 	top: 75px;
// 	left: calc(50% - 30px);
// 	font-family: sans-serif;
// 	font-size: 5rem;
// 	font-weight: 400;
// }
// .menuClosebtn a {
// 	padding: 50px 20px 50px 30px;
// 	text-decoration: none;
// 	color: $black;
// 	font-family: sans-serif;
// }

/*================================
MEDIA QUERIES 
================================*/

/*--------------------------------
TABLET VIEW
--------------------------------*/
@media (min-width: 765px){
	.hamburger{
	font-size: 3rem;
	padding: 1% 2%;
	}
	// .heroNavBar{
	// 	display: none;
	// }
	.portfolio-links-wrapper{
	margin-left: 0px;
	}
	.portfolio{
		article{
			margin: 6% 0 8% 0;
			img, .projectText{
				width: 48%;
				margin: 7% 0 0 2%;
			}
			// .projectText.left{
			// 	margin-left: 2%;
			// }
			// .projectText.right{
			// 	margin-right: 2%;
			// 	flex-direction: row-reverse;
			// }
		}
	}
	.portfolio-link{
		width: 35%
	}
	button,
		input[type="submit"]{
		width: 40%;
		font-size: 2rem;
	}
	#socialBtns{
		display:inline-block;
	}
	.heroNavBar__mainNav,
	.heroNavBar__socialList{
		width: 45%;
			li{
				border-radius: 5%;
			}
	}
	.heroNavBar__mainNav{
		float: left;
	}
	.heroNavBar__socialList{
		float: right;
		text-align: end;
	}
	#socialBtns{
		float: right;
		list-style: none;
		display: inline-block;
		margin-right: 5%;
		li{
			list-style: none;
			display: inline-block;
			i{
				font-size: 2.5rem;
				padding-top: 44%;
				padding-right: 15px;
			}
		}
	}
	.heroNavBar__mainNav li{
		width: 30%;
	}
	.email-me, label{
	a{
	font-size: 2rem;
	line-height: 2.2rem;
	}
}
	// .portfolio-links-wrapper{
	//     justify-content: flex-start;
	// }
}


/*--------------------------------
DESKTOP VIEW
--------------------------------*/
@media (min-width: 900px) {
	.heroNavBar__mainNav{
		width: 50%;
		display: block;
		li{
			a{
				text-align: center;
			}
		}
	}
	.heroNavBar__socialList{
		li{
			display: block;
			a{
				display:block;
			}
		}
	}
	a{
		font-size: 2rem;
	}
	button{
		margin-top: 2%;
	}
	.heroContent__portFolioBtn{
		margin-bottom: 0;
	}
	h1{
		font-size: 10rem;
		line-height: 11rem;
		// margin-top: 70px;
		// text-align: left;
	}
	h2{
		padding: 6% 0;
	}
	.heroContent__headerText__title{
		font-size: 2.5rem;
		line-height: 3.5rem;
	}
	.about{
		padding-top: 0;
		padding-bottom: 30px;
	}
	p {
		font-size: 2.7rem;
		line-height: 3.5rem;
		margin-top: 0%;
	}
	.contentWrapper{
	max-width: 1000px;
	} 
	.contact{
		a {
			font-size: 2rem;
		}
	}
	.skills__icons{
		figcaption{
			font-size: 2rem;
		}
		i{
			font-size: 8rem;
		}
		
	}
	#email-font{
		font-size: 2.7rem;
	}
	article{
		margin-bottom: 90px;
	}
	.projectText{
		h3{
			text-align: left;
		}
		h4{
			text-align: left;
		}
	}
}

