article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body, a {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #1b1c1c; }

h1, h2, h3, p, ul {
  margin: 0; }

h1, h2, h3 {
  font-family: "Poppins", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
  text-align: center; }

h1 {
  font-size: 6.5rem;
  letter-spacing: 0.3rem;
  line-height: 7rem;
  font-weight: 300; }

h2 {
  font-size: 4rem;
  padding: 7% 0;
  letter-spacing: 0.15rem;
  line-height: 2.6rem;
  color: #177E89; }

h3 {
  font-size: 3rem;
  line-height: 4.2rem;
  margin: -2% 0 1.5% 0; }

h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin: 0; }

a {
  text-decoration: none;
  color: #1b1c1c;
  text-transform: uppercase; }

p {
  line-height: 2.2rem;
  margin-bottom: 5%;
  margin-top: 2%; }

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.35))), url("/Assets/yu-kato-min.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.35)), url("/Assets/yu-kato-min.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.heroContent {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh; }
  .heroContent__headerText__title {
    color: #1b1c1c;
    font-size: 2rem;
    text-transform: uppercase; }
  .heroContent__headerText__portfolioBtn {
    background: #f7f7f7;
    padding: 2% 4%;
    display: block;
    width: 40%;
    margin: 0 auto 44% auto;
    text-align: center; }

.heroNavBar {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .heroNavBar__mainNav li {
    padding: 2%;
    border-radius: 5%;
    background: #363939; }
    .heroNavBar__mainNav li a {
      color: #cddbe9; }
  .heroNavBar__mainNav,
  .heroNavBar #socialBtns {
    padding-left: 0;
    margin-top: 5%; }
    .heroNavBar__mainNav li,
    .heroNavBar #socialBtns li {
      list-style: none;
      display: inline-block;
      color: #363939; }
  .heroNavBar .heroNavBar__socialList li a {
    color: #363939; }

.about {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about__headshot {
    width: 20%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    padding-top: 0.5%; }
  .about__bio {
    width: 75%; }

form label {
  margin-top: 2%; }

form input[type="text"],
form textarea {
  border: 0.5px solid silver;
  line-height: 5rem; }

form input[type="submit"] {
  margin-top: 5%; }

form label {
  font-size: 2rem; }

figure {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  margin: 3% 4%; }

.skills__icons {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.nounIcon, figure.img {
  max-width: 70px;
  opacity: 0.95; }

i {
  font-size: 6rem;
  display: block;
  padding: 4%; }

figure, figcaption {
  text-align: center;
  opacity: 0.8; }

#responsiveIcon {
  padding-top: 2%; }

/*================================
GLOBAL STYLES
================================*/
.contentWrapper {
  max-width: 900px;
  margin: 0 auto; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.heroContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap; }

.heroNavBar__mainNav,
.heroNavBar__socialList {
  width: 50%; }

.heroNavBar__mainNav {
  float: left; }

.heroNavBar__socialList {
  float: right;
  text-align: end; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }

.primary-bkg {
  background: #f7f7f7; }

.secondary-bkg {
  background: #fefefe; }

.about,
.skills,
.portfolio,
.contact {
  padding: 5% 0 8% 0; }

button,
input[type="submit"] {
  font-family: "Raleway";
  background: silver;
  border: 0;
  padding: 2% 4%;
  margin: 0 auto;
  border: 1px solid transparent;
  margin-bottom: 5%; }

button,
input[type="submit"] {
  width: 30%; }

a:hover,
a:active,
button:hover,
button:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background: #FDE74C; }

footer {
  background: #1b1c1c; }
  footer p {
    text-align: center;
    color: #fefefe;
    margin: 0;
    padding: 10px 0 30px; }

.contact__blurb {
  margin: 10px 0; }

.email-me a, label a {
  font-size: 2rem;
  line-height: 2.2rem;
  text-transform: none; }

.input[type="text"] {
  line-height: 2.5rem; }

#socialBtns li a:hover {
  background: none;
  color: #575c5d; }

.heroNavBar__mainNav li:hover {
  background: #575c5d; }
  .heroNavBar__mainNav li:hover a:hover {
    background: #575c5d; }

/*================================
MEDIA QUERIES 
================================*/
/*Tablet view*/
@media (min-width: 750px) {
  .portfolio article {
    margin: 6% 0 8% 0; }
    .portfolio article img, .portfolio article .projectText {
      width: 48%; }
    .portfolio article .projectText.left {
      margin-left: 2%; }
    .portfolio article .projectText.right {
      margin-right: 2%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }

/*Desktop view*/
@media (min-width: 900px) {
  a {
    font-size: 2rem; }
  button {
    margin-top: 2%; }
  .heroContent__portFolioBtn {
    margin-bottom: 0; }
  h1 {
    font-size: 10rem;
    line-height: 11rem;
    margin-top: 70px; }
  h2 {
    padding: 6% 0; }
  .heroContent__headerText__title {
    font-size: 2.5rem;
    line-height: 3.5rem; }
  .about {
    max-height: 600px;
    padding-top: 0;
    padding-bottom: 30px; }
  p {
    font-size: 2.7rem;
    line-height: 3.5rem;
    margin-top: 0%; }
  .contentWrapper {
    max-width: 1000px; }
  .contact a {
    font-size: 2rem; }
  .skills__icons figcaption {
    font-size: 2rem; }
  .skills__icons i {
    font-size: 8rem; }
  #email-font {
    font-size: 2.7rem; }
  article {
    margin-bottom: 90px; } }
