article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body, a {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #1b1c1c; }

h2, h3, p, ul {
  margin: 0; }

h1, h2, h3 {
  font-family: "Poppins", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
  text-align: center; }

h1 {
  font-size: 6.5rem;
  letter-spacing: 0.3rem;
  line-height: 7rem;
  font-weight: 300;
  margin: 0;
  padding-top: 10%; }

h2 {
  font-size: 4rem;
  padding: 7% 0;
  letter-spacing: 0.15rem;
  line-height: 2.6rem;
  color: #177E89; }

h3 {
  font-size: 3rem;
  line-height: 4.2rem;
  margin: -2% 0 1.5% 0; }

h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin: 0; }

a {
  text-decoration: none;
  color: #1b1c1c;
  text-transform: uppercase; }

p {
  line-height: 2.2rem;
  margin-bottom: 5%;
  margin-top: 2%; }

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.35))), url("/Assets/yu-kato-min.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.35)), url("/Assets/yu-kato-min.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

label[for="toggle"] {
  position: fixed;
  top: 25px;
  left: 25px;
  color: #1b1c1c;
  z-index: 6;
  font-size: 3rem; }

.nav-responsive {
  display: none; }

#toggle {
  display: none; }

svg.hamburger {
  display: none; }

.heroNavBar__mainNav {
  float: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .heroNavBar__mainNav li {
    width: 100%; }
    .heroNavBar__mainNav li a {
      width: 100%;
      display: inline-block;
      padding: 17px;
      color: #cddbe9; }

.heroNavBar {
  overflow: hidden;
  width: 100%; }
  .heroNavBar__mainNav li a,
  .heroNavBar #socialBtns li a {
    text-align: center; }

.heroNavBar__mainNav,
.heroNavBar__socialList {
  width: 100%; }

#socialBtns li a:hover {
  background: none;
  color: #575c5d; }

.heroNavBar__mainNav li:hover {
  background: #575c5d; }
  .heroNavBar__mainNav li:hover a:hover {
    background: #575c5d; }

.heroContent {
  height: 100vh; }
  .heroContent__headerText__title {
    color: #1b1c1c;
    font-size: 2rem;
    text-transform: uppercase; }
  .heroContent__headerText__portfolioBtn {
    background: #f7f7f7;
    padding: 2% 4%;
    display: block;
    width: 40%;
    margin: 0 auto 44% auto;
    text-align: center; }

.heroNavBar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.35)));
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.35)); }
  .heroNavBar__mainNav li a {
    display: inline-block;
    padding: 17px;
    color: #1b1c1c; }
  .heroNavBar__mainNav {
    padding-left: 0; }
    .heroNavBar__mainNav li {
      list-style: none;
      display: inline-block; }
  .heroNavBar__socialList li a {
    color: #1b1c1c;
    opacity: 0.85; }

.about {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about__headshot {
    width: 20%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    padding-top: 0.5%;
    padding-left: 2%; }
  .about__bio {
    width: 75%; }
  .about p {
    font-size: 1.8rem;
    margin-top: 0px; }

form label {
  margin-top: 2%; }

form input[type="text"],
form textarea {
  border: 0.5px solid silver;
  line-height: 5rem; }

form input[type="submit"] {
  margin-top: 5%; }

form label {
  font-size: 2rem; }

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  padding-left: 1.5%; }

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  padding-left: 1.5%; }

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  padding-left: 1.5%; }

form input::placeholder,
form textarea::placeholder {
  padding-left: 1.5%; }

form :placeholder-shown {
  padding-left: 1.5%; }

form input[type="text"],
form textarea {
  width: 100%;
  margin-top: 10px; }
  form input[type="text"]:hover,
  form textarea:hover {
    background: #FDE74C; }

form .email-me a {
  color: #177E89; }

figure {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  margin: 3% 4%; }

.skills__icons {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.nounIcon, figure.img {
  max-width: 70px;
  opacity: 0.95; }

i {
  font-size: 6rem;
  display: block;
  padding: 4%; }

figure, figcaption {
  text-align: center;
  opacity: 0.8; }

#responsiveIcon {
  padding-top: 2%; }

article img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  overflow: hidden; }

article p {
  font-size: 1.8rem; }

/*================================
GLOBAL STYLES
================================*/
.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.contentWrapper {
  max-width: 900px;
  margin: 0 auto; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }

.primary-bkg {
  background: #f7f7f7; }

.secondary-bkg {
  background: #fefefe; }

.about,
.skills,
.portfolio,
.contact {
  padding: 5% 2% 8% 2%; }

.about {
  max-height: 590px; }

#socialBtns {
  display: none; }

button,
input[type="submit"] {
  font-family: "Raleway";
  background: silver;
  border: 0;
  padding: 2% 4%;
  margin: 0 auto;
  border: 1px solid transparent;
  margin-bottom: 5%; }

button,
input[type="submit"] {
  width: 100%;
  font-size: 2rem; }

a:hover,
a:active,
button:hover,
button:active,
.portfolio-link:hover,
.portfolio-link:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background: #FDE74C; }

footer {
  background: #1b1c1c; }
  footer p {
    text-align: center;
    color: #fefefe;
    margin: 0;
    padding: 10px 0 30px; }

.portfolio-link {
  font-size: 1.5rem;
  background: silver;
  padding: 2% 4%; }
  .portfolio-link a:hover, .portfolio-link a:active {
    background: #FDE74C; }

.contact__blurb {
  margin: 10px 0; }

.email-me a, label a {
  font-size: 1.5rem;
  text-transform: none; }

.input[type="text"] {
  line-height: 2.5rem; }

.portfolio-links-wrapper {
  margin-left: 10px; }

.portfolio-link {
  width: 46%;
  text-align: center;
  margin: 0 1%; }

svg.hamburger {
  display: block; }

.menu {
  display: block;
  background: #fefefe;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: -100vh;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  -webkit-transition: top 0.75s;
  transition: top 0.75s; }

.menu ul {
  display: block;
  list-style: none;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 85px 0 0 0;
  padding: 0; }

.menu__link {
  margin: 0;
  padding: 20px 40px; }

.menu__link a:hover {
  background: #FEFEFE;
  color: #177E89; }

.show {
  top: 0vh; }

.menuCloseBtn {
  position: absolute;
  top: 75px;
  left: calc(50% - 30px);
  font-family: sans-serif;
  font-size: 5rem;
  font-weight: 400; }

.menuClosebtn a {
  padding: 50px 20px 50px 30px;
  text-decoration: none;
  color: #1b1c1c;
  font-family: sans-serif; }

/*================================
MEDIA QUERIES 
================================*/
/*--------------------------------
TABLET VIEW
--------------------------------*/
@media (min-width: 765px) {
  .heroNavBar {
    display: none; }
  .portfolio-links-wrapper {
    margin-left: 0px; }
  .portfolio article {
    margin: 6% 0 8% 0; }
    .portfolio article img, .portfolio article .projectText {
      width: 48%;
      margin: 7% 0 0 2%; }
  .portfolio-link {
    width: 35%; }
  button,
  input[type="submit"] {
    width: 40%;
    font-size: 2rem; }
  #socialBtns {
    display: inline-block; }
  .heroNavBar__mainNav,
  .heroNavBar__socialList {
    width: 45%; }
    .heroNavBar__mainNav li,
    .heroNavBar__socialList li {
      border-radius: 5%; }
  .heroNavBar__mainNav {
    float: left; }
  .heroNavBar__socialList {
    float: right;
    text-align: end; }
  #socialBtns {
    float: right;
    list-style: none;
    display: inline-block;
    margin-right: 5%; }
    #socialBtns li {
      list-style: none;
      display: inline-block; }
      #socialBtns li i {
        font-size: 2.5rem;
        padding-top: 44%;
        padding-right: 15px; }
  .heroNavBar__mainNav li {
    width: 30%; }
  .email-me a, label a {
    font-size: 2rem;
    line-height: 2.2rem; } }

/*--------------------------------
DESKTOP VIEW
--------------------------------*/
@media (min-width: 900px) {
  .heroNavBar__mainNav {
    width: 50%;
    display: block; }
    .heroNavBar__mainNav li a {
      text-align: center; }
  .heroNavBar__socialList li {
    display: block; }
    .heroNavBar__socialList li a {
      display: block; }
  a {
    font-size: 2rem; }
  button {
    margin-top: 2%; }
  .heroContent__portFolioBtn {
    margin-bottom: 0; }
  h1 {
    font-size: 10rem;
    line-height: 11rem; }
  h2 {
    padding: 6% 0; }
  .heroContent__headerText__title {
    font-size: 2.5rem;
    line-height: 3.5rem; }
  .about {
    padding-top: 0;
    padding-bottom: 30px; }
  p {
    font-size: 2.7rem;
    line-height: 3.5rem;
    margin-top: 0%; }
  .contentWrapper {
    max-width: 1000px; }
  .contact a {
    font-size: 2rem; }
  .skills__icons figcaption {
    font-size: 2rem; }
  .skills__icons i {
    font-size: 8rem; }
  #email-font {
    font-size: 2.7rem; }
  article {
    margin-bottom: 90px; }
  .projectText h3 {
    text-align: left; }
  .projectText h4 {
    text-align: left; } }
